@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
    background-color: #000000;
    color: #ffffff;
}
a {
    text-decoration: none;
    display: block;
}
img {
    display: block;
}
.container {
    width: 1296px;
    margin: 0 auto;
}
.intro {
    width: 636px;
    align-self: center;
}
.btn {
    width: 185px;
    height: 48px;
    border-radius: 32px;
    padding: 12px 24px;
}
.btn-white {
    background-color: #ffffff;
    color: #000000;
}

.bg-black {
    background-color: black;
}
.nav a {
    color: #d1d1d1;
}





.d-flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.jc-c {
    justify-content: center;
}
.jc-fe {
    justify-content: flex-end;
}
.ai-c {
    align-items: center;
}


.pt-40 {
    padding-top: 40px;
}
.py-40 {
    padding: 40px 0;
}
.py-72 {
    padding: 72px 0;
}
.mr-24 {
    margin-right: 24px;
}
.mb-36 {
    margin-bottom: 36px;
}
.ml-auto {
    margin-left: auto;
}


.fz-128 {
    font-size: 128px;
}
.fz-64 {
    font-size: 64px;
}
.fz-24 {
    font-size: 24px;
}
.fz-20 {
    font-size: 20px;
}
.fz-16 {
    font-size: 16px;
}

.c-green {
    color: #00ffa3;
}